/* Charcoal #101820, Yellow #FEE715 */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@1&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: 'Marcellus', serif;;
}
.bgtexture{ 
    height:80vh;
    width: 50vw;
    float: right;
    background-image: url("dark-texture-background.avif");
    border-bottom-left-radius: 50%;
   

}

header nav ul{
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: left;
    z-index: 0;
    /* display: inline; */
    background-color: #FEE715;
    
}
header nav ul a{
    text-decoration: none;
    padding:2vw;
    color: #101820;
    font-size: x-large;
}
.car{
  position: relative;
  top:140px; right: 80px;
  z-index: 10;
  
}
h1{
    font-size:500% ;
    padding-top: 10vh;
    padding-left: 8.9vw;
    padding-bottom: 8vh;
}
.para1{
    padding-left: 2%;
    padding-bottom: 2%;
}
.bg1{
    height: 20vh;
    background-color: #101820;
    background-image:linear-gradient(to  top, black 30%, white);
}
.bg2{
    height: 80vh;
    background-color: black;
    /* display: inline-block; */
    
}
.back{
  height: 80vh;
  position: relative;
  right: 85vh;
  display: inline-block;
}
.ferarri{
    /* display: inline-block; */
    color: goldenrod;
    font-size: 500%;
    font-family: 'Tiro Devanagari Hindi', serif;
    position: relative;
    top: 10px;
    /* bottom: 1px; */
}